@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --second-bg-color: #eaecef;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --first-bg-color: rgb(255, 255, 255);
  --second-text-color: 147, 153, 162;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--first-bg-color);

  font-size: 16px;
}
